.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gradient-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
}

.gradient-button::before,
.gradient-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}

.gradient-button::before {
  top: -0.15rem;
  left: -0.15rem;
  background: linear-gradient(
      to top,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    ),
    linear-gradient(to right, violet, red, orange, yellow, green, blue, indigo),
    linear-gradient(to bottom, indigo, violet, red, orange, yellow, green, blue),
    linear-gradient(to left, blue, indigo, violet, red, orange, yellow, green);
  background-size: 0.2rem 100%, 100% 0.2rem, 0.2rem 100%, 100% 0.2rem;
  background-position: left top, left top, right top, right bottom;
  background-repeat: no-repeat;
}
