.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*button {
  background-color: black;
  color: white;
  border-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-image-slice: 1;

  padding: 10px 20px;
  font-size: 16px;
}*/
.gradient-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
}

.gradient-button::before,
.gradient-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}

.gradient-button::before {
  top: -0.15rem;
  left: -0.15rem;
  background: linear-gradient(to bottom, blue, red),
    linear-gradient(to left, red, blue), linear-gradient(to bottom, red, blue),
    linear-gradient(to left, blue, red);
  background-size: 0.25rem 100%, 100% 0.25rem, 0.25rem 100%, 100% 0.25rem;
  background-position: left top, left top, right top, right bottom;
  background-repeat: no-repeat;
}
